html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.homepage {
    text-align: right;
    background-color: rgb(67, 99, 179);
    display: grid;
    grid-template-columns: 1fr 1fr;
        /*background: url("https://www.itl.cat/pngfile/big/88-880016_background-photoshop-tumblr-pastel-blue-cloud-background.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;*/

}


.primary-link {
    display: inline; 
    text-transform: uppercase;
}

.primary-link {
    background-color: rgba(207, 148, 148, 1);
    padding: 10px;
    margin: 10px;
}

.ulti-class {
    list-style-type: none;
}

.background {
    position: relative;
    z-index: 1;
}
.background:after {
    content: " ";
    background: white;
    position: absolute;
    z-index: -1;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.5; 
    background-repeat: no-repeat;
    background-size: cover;
}

.Review {
    text-align: center;
}

.Form {
    text-align: center;
}

.flexbox2 {
    display: flex;
    flex-direction: column;
}

/*footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background-color: lightgoldenrodyellow;
}*/

.latest-review {
    align-self: center;
}


.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.feedback {
    margin-top: 50px;
    width: 10%;
    align-self: center;
    font-size: 100%;
}

.welcome {
    text-align: center;
}

.hello {
    padding-left: 60px;
}

.lastest-post {
    padding-left: 60px;
}

.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
}
 /*sach*/
.quote {
    text-align: center;
}

/*phim*/
.button {
    font-size: 200px;
}
a {
    text-decoration: none;
}